@{
    ViewData["Title"] = "Faerun Map";
}
<h2>@ViewData["Title"]</h2>

<style>
    html, body {
        height: 100%;
    }

    .container-fluid {
        height: 100%;
        width: 100%;
    }

    #map {
        height: 80%;
        width: 100%;
    }
</style>


<div id="sidebar">
</div>

<div id="map"></div>

@section scripts {

    <script>
        var faerunOptions = {
            map: {
                minZoom: 0,
                maxZoom: 6
            },

            image: {
                width: 4763,
                height: 3185,
                TilesUrl: '//loremaps.github.io/LoreMaps-Faerun-Tiles/Tiles',
                meterPerPixel: 1287.473,
                attribution: 'Map data <a href="http://www.pocketplane.net/">Pocket Plane Group</a>'
            },

            data: {
                '@Url.Content("~/data/Faerun/Ports.json")': 'Ports',
                '@Url.Content("~/data/Faerun/Cities.json")': 'Cities',
                '@Url.Content("~/data/Faerun/PortCapitals.json")': 'Port/Capitals',
                '@Url.Content("~/data/Faerun/Capitals.json")': 'Capitals',
                '@Url.Content("~/data/Faerun/Temples.json")': 'Temples',
                '@Url.Content("~/data/Faerun/Sites.json")': 'Sites',
                '@Url.Content("~/data/Faerun/Fortresses.json")': 'Fortresses',
                '@Url.Content("~/data/Faerun/Ruins.json")': 'Ruins'
            },

            wiki: {
                url: 'http://forgottenrealms.wikia.com',
                apiUrl: '//forgottenrealms.wikia.com/api.php',
                attribution: 'Info <a href="http://forgottenrealms.wikia.com">Forgotten Realms Wiki</a>',
                wikiParseMarkup: function (markup) {
                    var blurb = $('<div></div>').html(markup);

                    // remove links as they will not work
                    blurb.find('a').each(function () { $(this).replaceWith($(this).html()); });

                    // remove navigation section
                    blurb.find('nav.toc').remove();

                    // replace base64 with data-src link
                    blurb.find('img').not('[src="data:"]').each(function () {
                        var link = $(this).attr('data-src');
                        $(this).attr('src', link);
                    });

                    // remove any references
                    blurb.find('sup').remove();

                    // remove cite error
                    blurb.find('.mw-ext-cite-error').remove();

                    // remove edit links
                    blurb.find('.editsection').remove();

                    // remove title as fantasymap adds it
                    blurb.find('h2.pi-title').remove();

                    return blurb;
                }
            }

        };

        FantasyMap.initialize(faerunOptions);
        FantasyMap._map.setView(FantasyMap._rc.unproject([0, 0]), 4);

    </script>

}
